<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration Form</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/registration.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 style="text-align: center"><i class="fa fa-users" style="color: darkblue"></i> Registration</h3>
            </div>
            <div class="panel-body">
                <div class="container">
                    <form th:action="@{/}" method="get">
                        <button class="btn btn-success" type="Submit" style="float: right; margin: 5px;">Login Page</button>
                    </form>

                    <form autocomplete="off"  th:action="@{/registration}"
                          th:object="${user}" method="post" class="form-horizontal"
                          role="form">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <label th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
                                       class="validation-message"></label>
                                <input type="text" th:field="*{name}" placeholder="Name"
                                       class="form-control"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-12">
                                <label th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"
                                       class="validation-message"></label>
                                <input type="text" th:field="*{lastName}"
                                       placeholder="Last Name" class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <input type="text" th:field="*{email}" placeholder="Email"
                                       class="form-control"/> <label
                                    th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                                    class="validation-message"></label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <input type="password" th:field="*{password}"
                                       placeholder="Password" class="form-control"/>
                                <label
                                        th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                                        class="validation-message" style="color: #FF1C19"></label>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-12">
                                <button type="submit" class="btn btn-primary btn-block">Add User</button>
                            </div>
                        </div>

                        <span th:utext="${successMessage}"></span>

                    </form>

                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>